# SCons build files
.sconsign.dblite
build/

# Visual Studio specific files
*.pdb
*.suo
*.ncb

# Other project files
Cocoa/FlightlessManicotti/FlightlessManicotti.xcodeproj/project.xcworkspace/
Cocoa/FlightlessManicotti/FlightlessManicotti.xcodeproj/xcuserdata/
FlightlessManicotti.sublime-project
FlightlessManicotti.sublime-workspace