# SCons build files
.sconsign.dblite
runtime/x86
runtime/x64
runtime/i386
runtime/armv6
runtime/armv7
example/x86
example/x64
example/i386
example/armv6
example/armv7

# Visual Studio specific files
*.pdb
*.suo
*.ncb